# See https://help.github.com/ignore-files/ for more about ignoring files.
github-schema.graphql

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.DS_Store
.env.build
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/@sermons/
/lib/fragmentTypes.json
/.npmrc
